.cart_page{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.spacer{
    height: 50px;
}
.cart_sub-container{
    position: relative;
    width: 96%;
    min-height: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
}
.cartHeader{
    height: 50px;
    padding-left: 2%;
    font-size: 1.5rem;
    margin-bottom: 2rem; 
}
.left-container .spacer{
    height: 75px;
}
.right-container{
    height: 100%;
    position: relative;
}
.right-sub-container{
    position: sticky;
    top: 0px;
    height: 450px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-sub-sub-container h1{
    font-size: 1.7rem;
    margin-bottom: 10%;
}
.right-sub-sub-container{
    height: 75%;
    width: 80%;
}
.right-sub-sub-container p{
    width: 100%;
    font-size: 1.2rem;
    position: relative;
    margin: 1rem auto;
}
.right-sub-sub-container p span{
    position: absolute;
    right: 4%;
}
.button-container{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 4.5rem;
}
.checkOut{
    color: white;
    font-size: 0.9rem;
    border: none;
    background-color: #cf0a2c;
    width: 80%;
    height: 3rem;
}
.checkOut:hover{
    background-color: #a60822;
    cursor: pointer;
    transition: all 0.5ms;
}