.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  z-index: 1000;
}

.icon {
  margin-right: 10px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

.search {
  display: flex;
  align-items: center;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 0px;
}

.search-input {
  border: none;
  outline: none;
}

.search-icon {
  color: #555;
  margin-right: 5px;
}

.dropdown-wrapper {
  position: relative;
  padding: 0 10px;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 2px;
  left: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 10;
}

.dropdown ul {
  padding: 0;
  list-style: none;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

.dropdown-wrapper:hover .dropdown {
  display: block;
}

.auth-links {
  display: flex;
  align-items: center;
}

.login-link,
.register-link {
  margin-right: 20px;
  text-decoration: none;
  color: #000d1b;
  font-weight: bold;
}
