.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-arrivals {
  position: relative;
  margin-top: 850px;
  font-size: 24px;
  font-style: sans-serif;
}

.product-cards-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.large-cards-container {
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.shop-all-button {
  position: relative;
  margin-top: 20px;
  padding: 10px 100px;
  border: 2px solid #ff0000;
  background-color: transparent;
  color: #ff0000;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.shop-all-button:hover {
  background-color: #ff0000;
  color: #fff;
}
