@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.main{
    /* This is the whole page */
    position: relative;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.row__men{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row__men__full-width{
    width: 90%;
}
.category_container{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.category_sub_container{
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.category{
    height: 100%;
    margin: auto 10px;
}
.category_links{
    height: 100%;
    width: 100%;
}
.category_links>img{
    height: 260px;
    border-radius: 10px;
}
.category_links{
    text-decoration: none;
    color: black;
}
.content_container{
    width: 100%;   
}
.new_content_container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px auto;
}
.filter_container{
   /* filter menu */
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
   height: 100vh;
   width: 250px;
   display: flex;
    justify-content: center;
    align-items: center;
   background-color: antiquewhite;  
}
.hidden_Filter{
    display: none;
}
.sort_container{
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    display: flex;
    /* background-color: antiquewhite; */
    align-items: center;
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
} 
.expanded_sort{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 3rem;
}
.sort_container_span{
    position: absolute;
    left: 5.5%;
    display: flex;
    align-items: center;
}
.sort_container_span>p{
    padding-top: 5px;
}
.toggle_filter{
    position: absolute;
    right: 20%;
    height: 2rem;
    width: 6rem;
    background-color: white;
    border: none;
}
.small_toggle_filter{
    position: absolute;
    right: 20%;
    height: 1rem;
    width: 4rem;
    background-color: white;
    border: none;
}
.sort_by{
    position: absolute;
    right: 5%;
    height: 2rem;
    width: 9rem;
}
.small_sort_by{
    height: 1rem;
    width: 5rem;
}
.small_product{
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
}
.expanded_product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
}
.product_sub-container{
    grid-column-start: 2;
    grid-column-end: 4;
    width: 90%;
    display: grid;
    height: auto;
    grid-template-columns: auto auto auto;
}
.loaded_and_load_more{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loaded_and_load_more>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loaded_and_load_more>div>p{
    height: 2rem;
}
.LoadMore_hidden{
    display: none;
}
.LoadMore{
    height: 55px;
    width: 350px;
}
.bottom_message{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom_message>div{
    width: 90%;
}
.signup_prompt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    margin-top: 20px;
}
.signup_prompt>div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup_prompt>div>p{
    margin-right: 30px;
}
.sign_up{
    height: 50px;
    width: 150px;
    background-color: rgb(182, 9, 9);
    color: white;
    border: none;
}